{% extends "base.html" %}
{% block title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">


    <h1>Редактирование профиля</h1>
    <p>Используйте форму ниже для редактирования профиля:</p>
    <form action="." method="post" enctype="multipart/form-data">
        <div class="form-group row">
                    <label for="inputfirst_name" class="col-sm-2 col-form-label">Имя пользователя: </label>
                     <div class="col-sm-4">
                        {{ user_form.first_name }}
                    </div>  
                </div>


        <div class="form-group row">
                    <label for="inputlast_name" class="col-sm-2 col-form-label">Фамилия пользователя:  </label>
                     <div class="col-sm-4">
                        {{ user_form.last_name }}
                    </div>  
                </div>

        
        <div class="form-group row">
                    <label for="inputemail" class="col-sm-2 col-form-label">E-mail пользователя:</label>
                     <div class="col-sm-4">
                        {{ user_form.email }}
                    </div>  
                </div>


        <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">День рождения:</label>
                     <div class="col-sm-4">
                        {{ profile_form.birthday }}
                    </div>  
                </div>

        <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Номер телефона: </label>
                     <div class="col-sm-4">
                        {{ profile_form.phone }}
                    </div>  
                </div>


        <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">О себе:</label>
                     <div class="col-sm-4">
                        {{ profile_form.about_me }}
                    </div>  
                </div>

        

        
        {% csrf_token %}
        <p><input type="submit" value="Сохранить изменения"></p>
    </form>

{% if messages %}
<div class="alert alert-secondary col-sm-6" role="alert">
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
</div>  
{% endif %}

{% if upd_error %}
            <div class="alert alert-warning col-sm-6" role="alert">
                {% with upd_error as qq %} 
                {% if not qq.items %}
                    {{ qq }}
                {%else%}
                    {% for error_name,desc in qq.items %} 
                        
                        {% if error_name == None%}
                            
                                {{ desc }}   
                                                
                        {% else %}
                            
                                {{ error_name }}: {{ desc }}
                            
                        {% endif %}
                        
                    {% endfor %} 
                {%endif%}
                {% endwith %} 
            </div>  
            {% endif %}

            
{% endblock %}

