{% extends "base.html" %}
{% block title %}Вход в аккаунт{% endblock %}
{% block content %}
    <h1>Вход в аккаунт</h1>
    
        <p>Используйте форму для входа в аккаунт:</p>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            <p>{{ form.username }}</p>
            <p>{{ form.password }} </p>
            
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>

        {% if login_error %}        
       
            {% with login_error as qq %} 
            {% if not qq.items %}
                {{ qq }}
            {%else%}
                {% for error_name,desc in qq.items %} 
                    {% if error_name == None%}
                        {{ desc }}
                    {% else %}
                        { error_name }}: {{ desc }}
                    {% endif %}
                {% endfor %} 
            {%endif%}
            {% endwith %} 
         
        {% endif %}
   
{% endblock %}